/* eslint-disable */
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    overflow-x: hidden;
    overflow-y: auto;
}
.logo-style {
    font-family: 'Permanent Marker', cursive;
}
.header-style {
    font-family: 'Caveat', cursive;
}
@layer components {
    .input-login {
        @apply relative block mb-4 w-full appearance-none rounded-none bg-secondary-darklight border border-secondary-darklighter p-4
      text-secondary-light placeholder-secondary focus:z-10 focus:border-primary-light focus:outline-none;
    }
    .nav-list a.router-link-exact-active {
        @apply text-primary-light after:text-primary-light before:text-primary-light
    }
    .nav-list a {
        @apply whitespace-nowrap hover:text-primary-light
        after:content-['-'] before:content-['-'] after:text-secondary-light before:text-secondary-light
        after:mx-0.5 before:mx-0.5
        hover:after:text-primary-light hover:before:text-primary-light;
    }
}